In [1]:
##importing cassandra
import cassandra
print(cassandra.__version__)

3.25.0

In [2]:
##checking connection
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'E:\secure-connect-arushi.zip'
}
auth_provider = PlainTextAuthProvider('ZyrfShaKYbwMMlkhaNlSZckT', '8s4WikfImamTF+WbpjZa5X3fuNL_LZFItXI931Z_n9M4_HF9Yk8a+G5rJogWOUL0ljN6vWFDGctRqnJm7IBg,f,PuoStDwUurdOqpGPvsttrZD,puj_sTgHz8H9egchE')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

4.0.0.6811

In [4]:
##using keyspace called ineuron
try:
    query = "USE ineuron"
    session.execute(query)
    print('Changed keypsace to ineuron')
except Exception as e:
    print('excetion occured ',e)

Changed keypsace to ineuron

In [8]:
##creating table employee-emp
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'E:\secure-connect-arushi.zip'
}
auth_provider = PlainTextAuthProvider('ZyrfShaKYbwMMlkhaNlSZckT', '8s4WikfImamTF+WbpjZa5X3fuNL_LZFItXI931Z_n9M4_HF9Yk8a+G5rJogWOUL0ljN6vWFDGctRqnJm7IBg,f,PuoStDwUurdOqpGPvsttrZD,puj_sTgHz8H9egchE')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect("ineuron")

row = session.execute("CREATE TABLE emp( emp_id int PRIMARY KEY, emp_name text, emp_city text, emp_sal varint,emp_phone varint);").one()
print("Table Created")

Table Created

In [10]:
##Adding column email to table
row = session.execute(" ALTER TABLE emp ADD emp_email text;").one()
print('Table altered.')

Table altered.

In [12]:
##inserting values in table using batch mode
from cassandra.query import BatchStatement

qr1= "insert into ineuron. emp(emp_id,emp_city,emp_email,emp_name,emp_phone,emp_sal) values(%s,%s,%s,%s,%s,%s)"
batch = BatchStatement()
batch.add(qr1,[1,'Gurgaon','sonia@gmail.com','Sonia',981677699,80000])
batch.add(qr1,[2,'Delhi','Arushi@gmail.com','Arushi',9276809799,180000])
batch.add(qr1,[3,'Noida','abc@gmail.com','Lakshay',95689199,140000])
batch.add(qr1,[4,'Gurgaon','ok@gmail.com','Dikshita',9231354799,150000])
batch.add(qr1,[5,'Banglore','defgmail.com','Simi',98118099799,80000])
batch.add(qr1,[6,'goa','fedgmail.com','Sunidhi',981189899799,80000])
batch.add(qr1,[7,'Banglore','okgmail.com','Simii',98118099799,80000])
batch.add(qr1,[8,'Banglore','sidgmail.com','Sid',98118099799,90000])
batch.add(qr1,[9,'Punjab','sanagmail.com','Sana',981157899799,100000])
batch.add(qr1,[10,'Mumbai','sidnaazgmail.com','Shenaaz',981678799,120000])
session.execute(batch)
print('Insert completed')

Insert completed

In [13]:
##using select statment
row=session.execute("select * from emp;")
for i in row:
    print(i)

Row(emp_id=5, emp_city='Banglore', emp_email='defgmail.com', emp_name='Simi', emp_phone=98118099799, emp_sal=80000)
Row(emp_id=10, emp_city='Mumbai', emp_email='sidnaazgmail.com', emp_name='Shenaaz', emp_phone=981678799, emp_sal=120000)
Row(emp_id=1, emp_city='Gurgaon', emp_email='sonia@gmail.com', emp_name='Sonia', emp_phone=981677699, emp_sal=80000)
Row(emp_id=8, emp_city='Banglore', emp_email='sidgmail.com', emp_name='Sid', emp_phone=98118099799, emp_sal=90000)
Row(emp_id=2, emp_city='Delhi', emp_email='Arushi@gmail.com', emp_name='Arushi', emp_phone=9276809799, emp_sal=180000)
Row(emp_id=4, emp_city='Gurgaon', emp_email='ok@gmail.com', emp_name='Dikshita', emp_phone=9231354799, emp_sal=150000)
Row(emp_id=7, emp_city='Banglore', emp_email='okgmail.com', emp_name='Simii', emp_phone=98118099799, emp_sal=80000)
Row(emp_id=6, emp_city='goa', emp_email='fedgmail.com', emp_name='Sunidhi', emp_phone=981189899799, emp_sal=80000)
Row(emp_id=9, emp_city='Punjab', emp_email='sanagmail.com', emp_name='Sana', emp_phone=981157899799, emp_sal=100000)
Row(emp_id=3, emp_city='Noida', emp_email='abc@gmail.com', emp_name='Lakshay', emp_phone=95689199, emp_sal=140000)

In [14]:
##deleting a record
rec= "delete from emp where emp_id= ?;"
st= session.prepare(rec)
session.execute(st,[6])
print('Record deleted successfully...')

Record deleted successfully...

In [15]:
##checking for record deletion
row=session.execute("select * from emp;")
for i in row:
    print(i)

Row(emp_id=5, emp_city='Banglore', emp_email='defgmail.com', emp_name='Simi', emp_phone=98118099799, emp_sal=80000)
Row(emp_id=10, emp_city='Mumbai', emp_email='sidnaazgmail.com', emp_name='Shenaaz', emp_phone=981678799, emp_sal=120000)
Row(emp_id=1, emp_city='Gurgaon', emp_email='sonia@gmail.com', emp_name='Sonia', emp_phone=981677699, emp_sal=80000)
Row(emp_id=8, emp_city='Banglore', emp_email='sidgmail.com', emp_name='Sid', emp_phone=98118099799, emp_sal=90000)
Row(emp_id=2, emp_city='Delhi', emp_email='Arushi@gmail.com', emp_name='Arushi', emp_phone=9276809799, emp_sal=180000)
Row(emp_id=4, emp_city='Gurgaon', emp_email='ok@gmail.com', emp_name='Dikshita', emp_phone=9231354799, emp_sal=150000)
Row(emp_id=7, emp_city='Banglore', emp_email='okgmail.com', emp_name='Simii', emp_phone=98118099799, emp_sal=80000)
Row(emp_id=9, emp_city='Punjab', emp_email='sanagmail.com', emp_name='Sana', emp_phone=981157899799, emp_sal=100000)
Row(emp_id=3, emp_city='Noida', emp_email='abc@gmail.com', emp_name='Lakshay', emp_phone=95689199, emp_sal=140000)

In [16]:
##updating and changing column name 
row=session.execute("update emp SET emp_sal= 80000,emp_name= 'Vanshika' where emp_id= 10 ;")

In [17]:
row=session.execute("select * from emp where emp_id = 10;")
for i in row:
    print(i)

Row(emp_id=10, emp_city='Mumbai', emp_email='sidnaazgmail.com', emp_name='Vanshika', emp_phone=981678799, emp_sal=80000)

In [18]:
##adding one more column department and data type used is list
row = session.execute("alter table emp add emp_dept list<text>").one()
print("Done")

Done

In [19]:
row = session.execute("insert into  emp(emp_id,emp_city,emp_email,emp_name,emp_phone,emp_sal,emp_dept) values(11,'gurgaon','okay@gmail.com','Khushboo',7838144141,120000,['Data Science','MAchine Learning']);").one()
print("Inserted")

Inserted

In [20]:
##counting number of rows
row = session.execute("SELECT COUNT(*) FROM emp;").one()
print(row)

Row(count=10)

In [23]:
##using where clause
row = session.execute(" SELECT emp_id, emp_name, emp_sal,emp_dept FROM emp where emp_id=11;").one()
print(row)

Row(emp_id=11, emp_name='Khushboo', emp_sal=120000, emp_dept=['Data Science', 'MAchine Learning'])

In [25]:
##aggregate functions sum
row = session.execute("SELECT SUM(emp_sal) FROM emp;").one()
print(row)

Row(system_sum_emp_sal=1100000)

In [26]:
##aggregate functions maximum
row = session.execute("SELECT MAX(emp_sal) FROM emp;").one()
print(row)

Row(system_max_emp_sal=180000)

In [27]:
##aggregate functions minimum
row = session.execute("SELECT MIN(emp_sal) FROM emp;").one()
print(row)

Row(system_min_emp_sal=80000)

In [28]:
##where clause using allow filtering
row= session.execute("select * from emp where emp_sal>80000 allow filtering")
for i in row:
    print(i)

Row(emp_id=11, emp_city='gurgaon', emp_dept=['Data Science', 'MAchine Learning'], emp_email='okay@gmail.com', emp_name='Khushboo', emp_phone=7838144141, emp_sal=120000)
Row(emp_id=8, emp_city='Banglore', emp_dept=None, emp_email='sidgmail.com', emp_name='Sid', emp_phone=98118099799, emp_sal=90000)
Row(emp_id=2, emp_city='Delhi', emp_dept=None, emp_email='Arushi@gmail.com', emp_name='Arushi', emp_phone=9276809799, emp_sal=180000)
Row(emp_id=4, emp_city='Gurgaon', emp_dept=None, emp_email='ok@gmail.com', emp_name='Dikshita', emp_phone=9231354799, emp_sal=150000)
Row(emp_id=9, emp_city='Punjab', emp_dept=None, emp_email='sanagmail.com', emp_name='Sana', emp_phone=981157899799, emp_sal=100000)
Row(emp_id=3, emp_city='Noida', emp_dept=None, emp_email='abc@gmail.com', emp_name='Lakshay', emp_phone=95689199, emp_sal=140000)

In [37]:
rows=session.execute('select * from emp where emp_id=11 order by emp_name desc allow filtering ;')

InvalidRequest: Error from server: code=2200 [Invalid query] message="Order by is currently only supported on the clustered columns of the PRIMARY KEY, got emp_name"

In [38]:
## creating index for empname 
row = session.execute("Create index empname on emp(emp_name);").one()
print(row)

None